body {
  margin: 0;
}
.wrapper {
  perspective: 200px ;
  font-size: 50px;
  line-height: 2;
  letter-spacing: 8px;
  font-family: sans-serif;
  font-weight: 700;
  color: rgb(250, 243, 243);
  background-color: black;
  height: 100vh;
  overflow: hidden;
 
 

}
.main-text {
width: 80vw;
height: 2800px;
transform-origin: bottom center ;
margin: 50px auto;
transform: rotateX(25deg);
animation: 30s move infinite linear;
text-align: justify;
padding: 50px;
position: relative;
bottom: -700px;

}
@keyframes move {
  0% {
    height: 0;
    bottom: -790px;
   
     
  }
  40% {
    color: rgb(211, 0, 0)
  }

  /* 40% {
    transform: rotateX(45deg)
  }
  55% {
   
    transform: rotateX(30deg)
  }
  70% {
    transform: rotateX(21deg)
  } */
  100% {
    
     color: rgb(211, 0, 0);
    
height: 2800px;
bottom: 2010px;

  }
}
